@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";
@import "../../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../../node_modules/bootstrap/scss/bootstrap-utilities";
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/card";
@import "../../../node_modules/bootstrap/scss/containers";
@import "../../../node_modules/bootstrap/scss/forms";

.CardContainer {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  width: 300px;
  background-color: #2b2f32;
  @media (max-width: 600px) {
    width: 100%;
    margin: 10px 5px;
  }
}

.CardTitle {
  margin: 0;
  font-weight: 800;
  color: white;
}

.CardDescription {
  color: whitesmoke;
}

.CardTags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 12px 0 0;
}

.CardTag {
  background-color: #535bf2;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 8px;
  font-size: 0.8rem;

  &:not(:last-child) {
    margin-right: 8px;
  }


  @media (max-width: 600px) {
    font-size: 0.7rem;
    padding: 4px;
  }
}
