.CardContainer {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  width: 300px;
  background-color: #2b2f32;
}

.CardTitle {
  margin: 0;
  font-weight: 800;
  color: white;
}

.CardDescription {
  color: whitesmoke;
}

.CardTags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 12px 0 0;
}

.CardTag {
  background-color: #535bf2;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 8px;
  font-size: 0.8rem;
  
  &:not(:last-child) {
    margin-right: 8px;
  }
}
